<% layout('layout') -%>

<!-- Blog Post -->
<% if (typeof article != "undefined") { %> 
  <div class="card mb-4">
      <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title"><%= article.title %></h2>
        <div style = "white-space: pre-line;"><%= article.content %></div>
      </div>
      <div class="card-footer text-muted">
        Posted on <%= article.date %> by
        <a href="#"><%= article.author %></a>
      </div>
  </div>
<% } %>